#firstNumber{
    width: 420px;
    height: 60px;
    border-radius: 6px;
    background-color: whitesmoke;
    font-size: 20px; 
    /* margin-top: 30px;  */
    margin-left: 10px;
}

#secondNumber{
    position: relative;
    top: 10px;
    left: 10px;
    height: 70px;
    font-size: 20px; 
    width: 420px;
    border-radius: 6px;
    background-color: whitesmoke;
}

P{
    font-family: fantasy;
    font-size: 30px;
    color: white;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#sum{
    width: 200px;
    height: 140px;
    background-color: green;
    color: white;
    font-size: 150px;
    margin-left: 20px;
    margin-top: 30px;
    justify-content: center;
}

#subtract{
    position: relative;
    top: 150px;
    width: 190px;
    height: 140px;
    background-color: green;
    color: white;
    font-size: 130px;
    left: -200px;
}
#block{
    display: block;
}


#section{
    border: 2px solid red;
    width: 450px;
    background-color: black;
    margin-left: 300px;
    height: 550px;
}
#equal{
    position: relative;
    top: 20px;
    left: 10px;
    color: white;
}

#multiply{
    background-color: green;
    width: 190px;
    margin-left: 250px;
    height: 140px;
    position: relative;
    top: -160px;
    color: white;
    font-size: 130px;
}
#multiply:hover{
    background-color: red;
    /* border-radius: 50%; */
    font-size: 100px;
}
#divides{
    background-color: green;
    color: white;
    font-size: 130px;
    width: 190px;
    height: 140px;
    position: relative;
    left: 250px;
    top: -130px;
}
#divides:hover{
    background-color: pink;
    /* border-radius: 50%; */
    font-size: 100px;
}
body{
    overflow: hidden;
}
@media screen and (max-width: 498px){
    #div{
       position: relative;
       left: -00px;
       top: -80px;
       width: 50%;
       height: 370px;
        
    }
    #equal{
        position: relative;
        top: 13px;
    }
    #secondNumber{
        width: 85%;
        overflow: hidden;
    }
    #firstNumber{
       width: 85%;
       overflow: hidden;
    }
    #sum{
        width: 107px;
        font-size: 30px;
        margin-top: 110px;
    }
    #section{
        height: 100%;
        width: 100%;
        margin-left: -00px;
    }
    #subtract{
        position: relative;
        top: 30px;
        margin-left: 220px;
        width: 107px;
        font-size: 30px;
    }
    #multiply{
        width: 107px;
        font-size: 30px;
        position: relative;
        left: -80px;
        top: -281px;
    }
    #divides{
        width: 107px;
        font-size: 30px;
        position: relative;
        left: 170px;
        top: -250px;
    }
    body{
        overflow: hidden;
    }
}